{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">About Hindu YUVA at Virginia Tech</h1>
    
    <section class="mt-4 p-4 rounded shadow" style="background: #FFF3E0;">
        <h2 class="text-center" style="color: #FF6600;">Our Mission</h2>
        <p class="lead text-center">
            The mission of The Virginia Tech Hindu YUVA organization (Registered Student Organization (RSO)) is to bring together both Hindu and non-Hindu students to raise awareness about Hinduism. 
            As one of the largest and oldest religions in the world, we believe it is necessary that there be an organization on campus to represent the interests of the Hindu community present here.

            We hope to create a comfortable atmosphere where students can come and celebrate their culture. We hope to achieve these goals by having 
            team-building games, yoga and meditation, lively debates, and presentations at our weekly meetings. 

            All in all, we want to build a small Hindu community within Virginia Tech so that students can come and discover a home away from home.


        </p>
  
        </p>
        <h3 class="text-center" style="color: #FF6600;">Our Events</h3>
        <ul class="lead text-center">
            <li><strong>Hang with HY:</strong> Weekly gatherings for Hindu students to connect.</li>
            <li><strong>Major Events:</strong> Celebrations of Hindu festivals like Diwali, Ganesh Chaturthi, and New Year.</li>
            <li><strong>Minor Events:</strong> Collaborations with other campus organizations and community outreach programs.</li>
        </ul>
    </section>
    
    <section class="mt-5 text-center">
        <h2 style="color: #FF6600;">Contact Us</h2>
        <p>
            <i class="fas fa-envelope" style="color: #FF6600;"></i> 
            <a href="mailto:vthinduyuva@gmail.com" class="text-dark">vthinduyuva@gmail.com</a>
        </p>
        <p>
            <i class="fab fa-instagram" style="color: #FF6600;"></i> 
            <a href="https://www.instagram.com/hinduyuvavt/" target="_blank" class="text-dark">@hinduyuvavt</a>
        </p>
        <p>
            <i class="fas fa-link" style="color: #FF6600;"></i> 
            <a href="https://gobblerconnect.vt.edu/organization/vt_hinduyuva" class="text-dark">GobblerConnect</a>
        </p>
    </section>
</div>
{% endblock %}
